torch==1.11+cu113 torchvision==0.12 torchaudio==0.11.0 -f https://download.pytorch.org/whl/torch_stable.html
keras==2.7.0
opencv-python==4.5.5.64
pandas==1.3.1
Pillow==8.2.0
scikit-learn==0.24.2
scikit-image==0.18.1
tqdm==4.61.0
pyyaml==5.4.1
tensorboard==2.7.0
Kornia==0.5.0
imageio==2.18.0
matplotlib==3.5.1
scipy==1.3.1

# for visualization only
seaborn==0.11.2
## Shapely Value
shap==0.40.0
## Grad-CAM
grad-cam==1.3.9
## Feature Map & Feature Visualization
omnixai==1.2.3
plotly==5.11.0
## UMAP
umap-learn==0.5.3
## Network Structure
graphviz
hiddenlayer==0.3
-U git+https://github.com/szagoruyko/pytorchviz.git@master

## Landscape
PyHessian==0.1

## Quality
torchmetrics[image]

pytorch-wavelets
